/* ================================= 
  Base Element Styles
==================================== */
body {
    background: mintcream;
   color: #130074;
   line-height: 1.6;
}

main {
    background: #E24E42;
    margin: 0 auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: #130074;
}

img {
    width: 100%;
}

h1 {
    margin: 0;
    text-align:center;
}

/* ================================= 
	  Base Layout Styles
==================================== */	

	/* ------- Header and Navigation ------- */
    header, nav {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    }
    nav a {
    padding: 3px 8px;
    }

	/* ---- Section Containers ---- */
    section div {
        float: left;
    }


    /* ================================= 
	  Media Queries
==================================== */	
@media(min-width: 768px) {
    main {
        width: 70%;
        max-width: 1200px;
    }
    img {
        max-width: 400px;
    }
}