/* ================================= 
  Base Element Styles
==================================== */
html {
    font-size: 16px; /*base size */
}
body {
    background: mintcream;
   color: #130074;
   line-height: 1.6;
   font-size: 1rem; /*16px */
}

main {
    background: #E24E42;
    margin: 40px auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: #130074;
    font-size: 1rem; /*16px */
}

img {
    width: 100%;
    box-shadow: 10px 10px  #E9B000;
}

h1 {
    margin: 0;
    text-align:center;
    font-size: 3rem; /*48px*/
}
button {
    width: 220px;
    height: 70px;
    margin: 1.5rem; /*24px*/
    background-color: #130074;
    color: #E9B000;
    font-size: 2rem;
    border: none;
    text-transform: uppercase;
}

/* ================================= 
	  Base Layout Styles
==================================== */	

	/* ------- Header and Navigation ------- */
    header, nav {
    text-align: center;
    margin: 0;
    padding: 10px;
    }
    nav {
    margin: 20px 0;
    }
    nav a {
    padding: 3px 8px;
    }


	/* ---- Section Containers ---- */
    section, footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    section div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin: 24px;
    }


    /* ================================= 
	  Media Queries
==================================== */	
@media(min-width: 768px) {
    main {
        width: 70%;
        max-width: 1200px;
    }
    img {
        max-width: 400px;
    }
    a {
        font-size: 2rem; /*40px/*
    }
}